@import "mixins.scss";
@mixin widgets_mapp6D_Assembly6D_base {
	@include elemAutoWidth(140);
	@include elemAutoHeight(140);
	text {
		fill: #020202;
	}
	.segment.power-off {
		fill: #555555;
	}
	.segment.power-on {
		fill: #7b7b7b;
	}
	.segment.error {
		fill: #cb0000;
	}
	.segment.homing {
		fill: #c8c8c8;
	}
	.segment.stopping {
		fill: #666666;
	}
	.shuttle.power-off {
		fill: #85857e;
	}
	.shuttle.power-on {
		fill: #ffffff;
	}
	.shuttle.error {
		fill: #cb0000;
	}
	.shuttle.stopping {
		fill: #ff8800;
	}
	.shuttle.idling {
		fill: #ffffff;
	}
	.shuttle.landed {
		fill: #b0b0b0;
	}
	.shuttle.motion {
		fill: #e0e0e0;
	}
	.shuttle.obstacle {
		fill: #b0b0b0;
	}
	.zone.active-closed {
		stroke: #ff8800;
	}
	.zone.not-active {
		stroke: #ff8800;
	}
	.zone.not-active {
		fill: #ff8800;
	}
	.zone.error {
		stroke: #cb0000;
	}
	.power-sector.active-closed {
		stroke: #8e50d0;
	}
	.power-sector.not-active {
		stroke: #8e50d0;
	}
	.power-sector.not-active {
		fill: #8e50d0;
	}
	.power-sector.error {
		stroke: #cb0000;
	}
	.station.active-open {
		fill: #12b8ff;
	}
	.waypoint.active-open {
		fill: #b266ff;
	}
	.branching_waypoint.active-open {
		fill: #ffffff;
	}
	.branching_waypoint.active-open {
		stroke: #ffffff;
	}
	.arrow.gray {
		fill: #d3d1d1;
	}
	.link.gray-one-way {
		stroke: #d3d1d1;
	}
	.link.gray-two-way {
		stroke: #d3d1d1;
	}

}

